node_modules
coverage
test
dist/test

.github
.publish-config
.vscode
.eslintrc.json
.travis.yml
CONTRIBUTING.md
package-lock.json
.gitattributes
.nvmrc
.prettierrc
sensitive-param-filter.code-workspace